.container{
    align-items: center;
    justify-content: center;
}
.container .navbar{
    background-color: black;
}
.container .navbar img{
    width: 200px;
    height: 60px;
    object-fit: cover;
}
.container .navbar .create-btn{
    width: 80px;
    height: 35px;
    outline: none;
    border: none;
    margin: 0 20px;
    font-size: 15px;
    color: white;
    background-color: #5607F3;
    border-radius: 2px;
}
.container .navbar .create-btn:hover{
    background-color: rgba(86,7,243,.8);
}
.container .navbar .upload-btn{
    width: 80px;
    height: 35px;
    outline: none;
    border: none;
    margin: 0 20px;
    font-size: 15px;
    color: white;
    background-color: #5607F3;
    border-radius: 2px;
}
.container .navbar .upload-btn:hover{
    background-color: rgba(86,7,243,.8);
}
.container .navbar .fa-ellipsis-v{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}
.container ul li a{
    color: white;
}
.container li .avatar{
    width: 40px;
    height: 40px;
    object-fit: fill;
    margin-left: 10px;
    margin-right: -4px;
    z-index: 1;
    position: relative;
}
.container .dropdown{
    border-style: none;
    font-size: 15px ;
}
.container .dropdown button{
    border-style: none;
    font-size: 13px;
    width: 120px;
    height: 40px;
    box-shadow: none;
}
.container #dropdownMenuButton{
    background-color: #3E3E3E;
    border-radius: 3%;
}
.container .dropdown-menu{
    background-color: #3E3E3E;
    font-size: 13px;
}
.container .dropdown-item:hover{
    background-color: rgba(97, 97, 97, 0.37);
}
.container .active:hover{
    background: linear-gradient(#e66465, #9198e5);
}